// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  overflow: hidden;
}

.ui-button {
  margin-bottom: 2px;
  margin-top: 2px;
  margin-left: 5px;
}

img {
  padding: 0;
  margin: 0;
  position: fixed;
}

.settings {
  float: left;
}

#settings_container {
}

#categories_container {
  padding-top: 3px;
  clear: both;
}

#time_slider {
  float: left;
  margin-left: 10px;
}

#start {
  clear: both;
  margin-top: 30px;
  text-align: center;
}

#loading {
  font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2.0em;
  color: white;
}
