<h1 id="title">Picdora</h1>
<p id="instructions">Instructions: Press any key to change pictures</p>
<div id="viewer"></div>
<h2 id="width">first</h2>
<h2 id="height">now</h2>





<script>
    var images = [];
    <% @images.each do |image| %>
    images.push('<%=image%>');
    <%end%>


    var loader = new ImageLoader(images);

    var isMobile = jQuery.browser.mobile;
    var view = $('#viewer');
    var displayer = new ImageDisplayer(view, isMobile);

    var supportsOrientationChange = "onorientationchange" in window,
            orientationEvent = supportsOrientationChange ? "orientationchange" : "resize";

    window.addEventListener(orientationEvent, function() {
        alert('HOLY ROTATING SCREENS BATMAN:' + window.orientation + " " + screen.width + "x" + screen.height);
    }, false);



    //$(document).bind('keydown touchend', changePicture);

    //$(document).bind('resize orientationchange', displayer.redraw);
    $(document).bind('orientationchange resize', function(){
        alert('hi');
        $('#width').html(window.innerWidth);
        $('#height').html(window.innerHeight);
    });

    var first = true;
    function changePicture(event) {

        if (first) {
            first = false;
            $("#title, #instructions").hide();
            view.fullScreen();
            $('body').css('background-color', 'black');
            $('html').css({cursor: 'none'});

            // setup cursor hiding
            var j, justHidden;
            $(document).bind('mousemove', function() {
                if (!justHidden) {
                    justHidden = false;
                    clearTimeout(j);
                    $('html').css({cursor: 'default'});
                    j = setTimeout(hide, 1000);
                }
            });
            function hide() {
                $('html').css({cursor: 'none'});
                justHidden = true;
                setTimeout(function() {
                    justHidden = false;
                }, 500);
            }
        }

        displayer.setImage(loader.nextImage());
    }
</script>

