<h1 id="title">Picdora</h1>
<p id="instructions">Instructions: Press any key to change pictures</p>
<div id="viewer"></div>





<script>
    var images = [];
    <% @images.each do |image| %>
    images.push('<%=image%>');
    <%end%>


    var loader = new ImageLoader(images);

    var isMobile = jQuery.browser.mobile;
    var view = $('#viewer');
    var displayer = new ImageDisplayer(view, isMobile, recycleImg);

    $(document).bind('keydown touchend', keyPressed);

    $(window).bind('orientationchange resize', function(){
        displayer.redraw();
    });

    function keyPressed(event){
        changePicture();
    }

    function recycleImg(image){
        loader.useImage(image);
    }

    var first = true;
    function changePicture() {

        if (first) {
            first = false;
            $("#title, #instructions").hide();
            view.fullScreen();
            $('body').css('background-color', 'black');
            $('html').css({cursor: 'none'});

            // setup cursor hiding
            var j, justHidden;
            $(document).bind('mousemove', function() {
                if (!justHidden) {
                    justHidden = false;
                    clearTimeout(j);
                    $('html').css({cursor: 'default'});
                    j = setTimeout(hide, 1000);
                }
            });
            function hide() {
                $('html').css({cursor: 'none'});
                justHidden = true;
                setTimeout(function() {
                    justHidden = false;
                }, 500);
            }

            // start automatically changing
            setInterval(function() {
                changePicture();
            }, 3000);
        }

        displayer.setImage(loader.nextImage());
    }
</script>

