<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" %>

<h1 id="title">Picdora</h1>
<p id="instructions">Instructions: Press any key to change pictures</p>
<img src="" id="img1">
<img src="" id="img2">




<script>
    var images = [];
    <% @images.each do |image| %>
    images.push('<%=image%>');
    <%end%>

    var viewer = $('#img1');
    var next = $('#img2');
    next.hide();
    viewer.hide();

    next.bind('load', fitImageToScreen);
    viewer.bind('load', fitImageToScreen);
    next.attr("src", images[getRandomInt(0, images.length)]);

    var maxWidth = window.innerWidth;
    var maxHeight = window.innerHeight;



    $(document).bind('keydown touchend', changePicture);

    var first = true;
    function changePicture(event) {

        if (first) {
            first = false;
            $("#title, #instructions").hide();
        }
        var temp = viewer;
        viewer = next;
        next = temp;

        next.fadeOut(2, function(){
            viewer.fadeIn();
        });

        //viewer.hide();
        //next.show();



        // reset dimensions
        next.css('width', 'auto');
        next.css('height', 'auto');
        next.attr("src", images[getRandomInt(0, images.length)]);
    }

    function fitImageToScreen() {
        //console.log("Resizing...");
        //console.log("Before: " + next.width() + "x" + next.height());

        // resize picture to fit screen
        if (next.width() > maxWidth) {
            next.css('height', 'auto');
            next.width(maxWidth);
        }

        if (next.height() > maxHeight) {
            next.css('width', 'auto');
            next.height(maxHeight);
        }

        //console.log("After: " + next.width() + "x" + next.height());

        // center image
        var left = (maxWidth - next.width()) / 2;
        var top = (maxHeight - next.height()) / 2;
        next.css({left: left, top: top});

    }

    function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min + 1) + min);
    }

</script>

